.imgConteiner button{
    background-color: white;
    border: none;
}

.imgConteiner{
    display: flex;
     /* Центрируем по горизонтали */
    gap: 20px;
}


.lastSecondimg {
    position: relative;
    display: inline-block;
    width: 200px; /* Пример ширины */
    height: 50px; /* Пример высоты */
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px; /* Вертикальное выравнивание текста */
    background: none; /* Убираем фон кнопки */
    overflow: hidden;
  }
  

  
.listSecondimg{
    border-radius: 10px;
    cursor: pointer;
    background-image: url("https://assets.wfcdn.com/im/22279235/resize-h800-w800%5Ecompr-r85/1349/13494229/Good+Grips+3+Piece+Mixing+Bowl+Set.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    align-items: center;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}


.secondImg img:hover{
    cursor: pointer;
    border: 2px solid #5c1277;
    border-radius: 10px;
}
.secondImg button{
    margin:  10px 0;

    width: 48px;
    height: 48px;
    padding: 0;
}
.secondImg img{
    border-radius: 10px;
}
.secondImg{
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
}
.overlayText {
    position: relative;
    top: -1px;
    place-items: center;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, .5); 
    width: 48px;
    height: 48px;
    color: white;
    font-size: 14px;
    z-index: 1; 
    pointer-events: none; 
  }
  
  .mainImg img{
   flex: 1; /* Занимает всю доступную ширину */
    display: flex;
    justify-content: center; /* Центрируем изображение */
    align-items: center;
    max-width: 650px;
}

.moreImgConteiner{
    position: "fixed";
    top: 0;
    left: 0;
    width: "100vw"; 
    height: "100vh"; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.hideSmallImg{
    display: none;
}


@media screen and (max-width: 1410px) {
    .mainImg{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    .imgConteiner{
        align-items: center; /* Выравниваем элементы по вертикали */
        justify-content: center; 
    }
}
@media screen and (max-width: 768px) {
    .mainImg img{
        max-width: 400px;
    } 
    
    .showSecondImg{
        display: none;
    }
    .hideSmallImg{
        display: block;
    }
    .imgConteiner{
        display: block;
    }
    .secondImg{
    display: flex;
    margin-right: 10px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    }
}


@media screen and (max-width: 320px) {
    .mainImg img{
        max-width: 200px;
    }
}