.logo{
    width: 150px;
    margin-top: 5px;
}

header{
    margin-bottom:30px ;
}
.headerConteiner{
    margin: 10px 68px 0 68px;

    display: flex;
    justify-content: space-between;
}

.btnConteiner{
    margin: 0 10px;
}
.btnConteiner img{
    width: 30px;
    margin: 10px;
}
.btnConteiner a{
    text-decoration: none;
    color: black;
    font-family: "sofia", "sofiaFallback", arial, sans-serif;
}

.btnConteiner{
    align-items: center;
    display: flex;
}
.btnConteiner a:hover{
    color: blueviolet;
}

.searchConteiner img{
    width: 15px;
    height: 15px;
    margin: 0 10px 0 20px;
}

.searchConteiner input{
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 45px;
}


.searchConteiner input:focus {
    outline: none; /* Убирает выделение по умолчанию */
    border: none;  /* Убирает границу */
}

.searchConteiner input::placeholder{
    font-family: "sofia", "sofiaFallback", arial, sans-serif;
    margin-top: 10px;
    font-size: 16px;
    color: rgb(84, 84, 84);
}
.searchConteiner{
    align-items: center;
    width:800px;
    height: 48px;
    max-width: 100%;
    margin-left: 45px;
    max-height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
}

.headerList{
    display: flex;
    border: 1px solid #d1d1d6;
    padding: 8px;
    margin-top: 9px;
    justify-content: center;
}

.headerList li{
    font-family: "sofia", "sofiaFallback", arial, sans-serif;
    padding: 0 7px;
    list-style-type: none;
}
.headerList a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.burgerMenu img{
    width: 30px;
}
.burgerMenu{
    display: none;
}
.headerBtnConteiner1{
    display: none;
}
.headerBtnConteiner2{
    display: flex;
}
.headerConteinerHiden{
    display: flex;
    justify-content: space-between;
}
.burgerMenu button{
    background-color: white;
    padding: 1px;
    border: none;
    cursor: pointer;
}
.burgerMenu{
padding-top: 10px;
}
/* --- АДАПТИВНОСТЬ --- */


@media screen and (max-width: 1335px) {
.headerList li{
    padding: 0 5px;
}
}
/* Планшеты (до 1024px) */
@media screen and (max-width: 1024px) {

    .headerList {
        display: none; /* скрываем скролл */
    }
    .searchConteiner{
        margin: 0;
    }
    .headerConteinerHiden a{
        display: none;
    }
    .headerBtnConteiner1{
        display: flex;
        
    }
    .headerBtnConteiner2{
        display: none;
    }
    .burgerMenu{
        display: block;
    }
    .headerConteiner {
        flex-direction: column;
    }
    
    .searchConteiner {
        width: 100%;
        margin-top: 10px;
    }

    .btnConteiner {
        margin: 5px;
    }
    
}



/* Мобильные устройства (до 768px) */
@media screen and (max-width: 768px) {
    .searchConteiner{
        height: 37px;
    }
    .searchConteiner input{
        height: 30px;
    }
    .logo{
        max-width: 100%;
        margin: 5px 2px 0 13px;

    }
    .headerConteiner {
        flex-direction: column;
        text-align: center;
        margin: 10px 25px 0 25px;
    }

   

    /* Прячем текстовые кнопки, оставляем иконки */
    .btnConteiner a {
        display: none;
    }

    /* Меню с прокруткой */
    

    .headerList li {
        padding: 8px;
    }
}

@media screen and (max-width: 320px){
    .logo{
        width: 100px;
    }
    .burgerMenu img{
        width: 20px;
    }
    .btnConteiner{
        margin: 5;
    }
    .btnConteiner img{
        margin: 2px;
        width: 20px;
    }
}