.content-wrapper {
    position: relative;
  }
  
  .content-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    z-index: 10;
    opacity: 0; /* Начальное состояние - прозрачность */
    visibility: hidden; /* Скрыто, чтобы не мешать кликам */
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
  
  .content-wrapper.overlay::before {
    opacity: 1; /* Затемнение при появлении overlay */
    visibility: visible;
  }
  